.*
*.gz
*.pem
*.zip
*.tar
*.log
*.out
/tmp/

## Git
!.gitkeep
!.gitignore

## GitHub
!.github/

## Editorconfig
!.editorconfig

## Husky
!.husky/
!.husky.yaml

## Node
node_modules/

## TS config build info
tsconfig.tsbuildinfo
